qase.base.api.url=https://api.qase.io/v1
qase.base.login.url=https://app.qase.io/login
qase.base.projects.url=https://app.qase.io/projects
qase.api.token=<enter your value here>
username=<enter your username here>
password=<enter your password here>
